In [1]:
import os
import pandas as pd
import numpy as np

In [12]:
data = pd.read_json("data/events/events_Spain.json")

In [13]:
d = data.loc[data['teamId'] == 675]
d.head()

,eventId,subEventName,tags,playerId,positions,matchId,eventName,teamId,matchPeriod,eventSec,subEventId,id
11178,8,Simple pass,[{'id': 1801}],3321,"[{'y': 51, 'x': 48}, {'y': 36, 'x': 40}]",2565555,Pass,675,1H,1.818886,85,180467997
11179,8,Simple pass,[{'id': 1801}],14723,"[{'y': 36, 'x': 40}, {'y': 70, 'x': 36}]",2565555,Pass,675,1H,5.179896,85,180467998
11180,8,Simple pass,[{'id': 1801}],8287,"[{'y': 70, 'x': 36}, {'y': 95, 'x': 33}]",2565555,Pass,675,1H,7.318890,85,180467999
11181,8,Simple pass,[{'id': 1801}],4501,"[{'y': 95, 'x': 33}, {'y': 68, 'x': 38}]",2565555,Pass,675,1H,9.799903,85,180468000
11182,8,Simple pass,[{'id': 1801}],8287,"[{'y': 68, 'x': 38}, {'y': 36, 'x': 26}]",2565555,Pass,675,1H,11.848602,85,180468001

df = pd.read_json("data/events/events_England.json")
df

In [3]:
firsthalf = df.loc[df['matchPeriod'] == '1H']
secondhalf = df.loc[df['matchPeriod'] == '2H']

In [1]:
import tensorflow as tf

In [2]:
if tf.test.gpu_device_name():
    print('Default GPU Device: {}'.format(tf.test.gpu_device_name()))
else:
    print("Please install GPU version of TF")

Default GPU Device: /device:GPU:0